//Media quesries
$mobile-width-only: 767px;
$tablet-width: 768px;
$desktop-width: 1200px;

//Colors
$color-bg-darkgrey: #353535;
$color-bg-lightgrey: #f8f5f2;

$color-white: #ffffff;
$color-black: #000000;
$color-grey-light: #aeaeae;
$color-grey-dark: #353535;
$color-brown: #826550;
$color-brown-dark: #6a4d38;
$color-brown-darken: #624530;

$color-text-black: #000000;
$color-text-white: #ffffff;
$color-text-link-hover: #826550;
$color-text-link-down: #6a4d38;

$color-btn-primary: #826550;
$color-btn-primary-hover: #6a4d38;
$color-btn-primary-disabled: #aeaeae;
$color-btn-secondary: #3f3f3f;
$color-btn-secondary-hover: #545454;
$color-btn-secondary-down: #252525;
$color-btn-arrows-down: #d5c9bd;

$color-border: #e5ddd5;
$color-border-hover: #d5c9bd;
$color-border-down: #999999;

//Typography
$font-family-regular: PTSans, Arial, sans-serif;
$font-family-bold: PTSansBold, Arial, sans-serif;